body {
    margin: 0%;
    padding: 0%;
    font-family: sans-serif;
    /* background-image: url('/HTML/Images/andre-benz-cXU6tNxhub0-unsplash.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover; */
}

nav {
    width: 100%;
    height: 100%;
    background-color: blueviolet;
    float: left;
}

nav .inquiery {
    width: 400px;
    float: left;
    color: black;
    margin-left: 120px;
    font-size: 20px;
}

nav .location img {
    width: 50px;
    height: 40px;
    margin-top: 10px;
    float: left;
}

nav .location {
    width: 800px;
    float: right;
    margin-right: 50px;
    font-size: 20px;
}

nav a {
    color: black;
    text-decoration: none;
}

header {
    width: 100%;
    height: 100%;
    background-color: aqua;
    float: left;
}

header .logo{
    margin-right: 20px;
}

header div ul li {
    display: inline-block;
    margin-top: 30px;
    margin-left: 25px;
    font-size: 30px;
}

header div ul li a {
    text-decoration: none;
    color: black;
}

.menu-part1 {
    width: 27%;
    height: 100%;
    margin-left: 100px;
    float: left;
}

.logo {
    width: 26%;
    height: 100%;
    float: left;
}

.logo img {
    width: 180px;
    height: 120px;
    margin-left: 145px;
    border-radius: 50%;
    border-style: groove;
}

.menu-part2 {
    width: 29%;
    height: 100%;
    float: left;
}

section {
    width: 100%;
    height: 100%;
    font-size: 30px;
    /* background-color: white; */
    color: aliceblue;
    float: left;
}

section .image-sliding img {
    width: 60%;
    height: 50%;
    margin-top: 20px;
    margin-left: 310px;
    text-align: center;
}

.tableposition{
    float: left;
    display: flex;
    margin-left: 6%;
}

table {
    width: 800px;
    height: 500px;
    border: 1px solid black;
    border-radius: 10px;
    padding: 5px;
    word-spacing: 10px;
    text-align: center;
    font-size: 23px;
    margin: 10px;
    float: left;
}

.left-table {
    width: 80%;
    background-color: chocolate;
}

.right-table {
    width: 80%;
    background-color: crimson;
}

.content {
    width: 50%;
    height: 85%;
    margin-bottom: 15px;
    color: black;
    float: left;
}

.content img {
    width: 700px;
    height: 400px;
    margin-left: 20px;
    margin-top: 50px;
}

footer {
    width: 100%;
    height: 100%;
    background-color: blueviolet;
    float: left;
}

.footerpart {
    width: 33%;
    margin-top: 10px;
    font-size: 20px;
    float: left;
}

.footerpart p {
    margin-left: 30px;
}

.footerpart a {
    color: black;
    text-decoration: none;
    font-size: 20px;
}

.footerpart img {
    width: 40px;
    height: 40px;
    float: left;
}

.footerpart .icons {
    width: 30px;
    height: 30px;
    display: inline-block;
    margin: 10px;
}

sponser {
    width: 100%;
    height: 100%;
    background-color: blueviolet;
    float: left;
}

.sponsered {
    width: 100%;
    font-size: 20px;
    background-color: blueviolet;
    float: left;
}

.sponsered p {
    margin: 0;
    margin-right: 100px;
    float: right;
}

.sponsered a {
    color: black;
    text-decoration: none;
}

hr {
    width: 90%;
}